@import "~video-react/dist/video-react.css";
.client {
  height: 100vh;
}
h5 {
  text-align: center;
  padding-bottom: 2%;
}
.images p {
  text-align: center;
  color: #555;
}
.images {
  padding-top: 10%;
  padding-bottom: 10%;
}
.videoTitle h5 {
  text-align: center;
  padding-top: 2%;
}
.videoTitle {
  padding: 5%;
}
.video {
  padding-top: 1%;
  padding-bottom: 5%;
  width: 70%;
  margin: 0 auto;
  /* width: 400px; */
}

img.chickentStore-img {
  width: 25%;
  margin-left: 40%;
  padding-bottom: 10%;
}
.children {
  width: 90%;
  margin-left: 10%;
  padding-bottom: 10%;
  border-radius: 4px 4px;
}
hr {
  border: none;
  border-top: 3px solid #e7e7e7;
  color: #555;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: "         ";
  padding: 0% 30%;
  position: relative;
  top: -13px;
}

/* .image {
  height: 30%;

  width: 30%;
} */
/* .clients .image {
  margin: 0.1em;
} */
/* .clients {
  padding: 4% 0% 0% 3%;
} */
/* .our-clients {
  background-color: #5555;
  height: 100vh;
} */

/* For Smartphones */
@media all and (max-width: 670px) {
  img.chickentStore-img {
  }

  .client_link {
    height: 0vh;
  }
}

/* For Tablets */
@media (min-width: 670px) and (max-width: 1000px) {
  img.chickentStore-img {
    /* height: 40vh; */
    width: 32%;
    margin: 25px;
  }
}

@media screen and (max-width: 700px) {
  .navbar a {
    display: none;
  }
  .menu {
    display: inline;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
  }
  .menu button {
    cursor: pointer;
    background: #f4f5f9;
    outline: none;
    border: none;
  }
}
