.explores {
  height: 100vh;
  background-color: #f4f5f9;
  color: #2b2b2b;
}
.explore-text {
}
.explore-text p {
  display: block;
  margin-right: 30px;
}
#LineOne {
  padding-top: 2%;
  font-weight: bold;
  font-size: 54px;
  color: #585858;
}
#LineTwo {
  font-weight: bold;
  font-size: 30px;
  color: #585858;
}
#LineThree {
  font-weight: bold;
  font-size: 24px;
  color: #585858;
}

.explores {
  padding-top: 2%;
  text-align: center;
}
a.homeNav {
  color: #555;
}
a.homeNav:hover {
  text-decoration: none;
  color: #f89c1e;
}
.cards {
  width: 18rem;
}
.cards p {
  color: #707070;
}
.space {
  padding: 8%;
}
.img-explore {
  border-radius: 5px;
  width: 60%;
}
@media all and (max-width: 670px) {
  .texts {
    margin: 15% 10%;
  }
  .firstRow {
    display: block;
  }
}

/* For Tablets */
@media (min-width: 670px) and (max-width: 1000px) {
}
