@font-face {
  font-family: "regular";
  src: url("../../font/Proxima\ Nova\ Font.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
.home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/congo2\ \(2\).jpg") no-repeat center center fixed;
  background-size: cover;

  /* height: 70vh; */
}
p {
  font-family: "regular";
}
li {
  font-family: "regular";
}
h5 {
  font-family: "regular";
}
.home p {
  padding-top: 2%;
  text-align: center;
  font-family: "regular";
  /* line-height: 5px; */
}
#firstLine {
  padding-top: 15%;
  font-weight: bold;
  font-size: 54px;
  color: #eeee;
}
#secondLine {
  font-weight: bold;
  font-size: 30px;
  color: #eeee;
}
#thirdLine {
  font-weight: bold;
  font-size: 24px;
  color: #eeee;
}

/* For Smartphones */

@media screen and (max-width: 800px) {
  /* .home_text {
    text-align: center;
  }
  .home_text p span {
    font-size: 33px;
  }
  .home_text p {
    font-size: 33px;
  }
  .logo {
    margin-left: 2px;
    margin-top: 20px;
    width: 150px;
    height: 40px;
  } */

  #firstLine {
    padding-top: 45%;
    font-size: 30px;
  }
  #secondLine {
    font-size: 20px;
  }
  #thirdLine {
    font-size: 15px;
  }
  .home {
    line-height: 45px;
  }
  p {
    text-align: center;
  }
}

/* For Tablets */
@media only screen and (max-width: 500px) {
  .home p {
    /* padding-top: 20%; */
    text-align: center;
    font-family: "regular";
    /* line-height: 5px; */
  }
  #firstLine {
    padding-top: 15%;
    font-size: 30px;
  }
  #secondLine {
    font-size: 20px;
  }
  #thirdLine {
    font-size: 15px;
  }
  .home {
    line-height: 30px;
  }
  p {
    text-align: center;
  }
}
