.mission {
  color: white;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/36769435-6010-4676-b905-cd5bdc9f5b21.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
.texts p {
  text-align: left;
  padding-left: 8%;
  color: #707070;
}

.video p {
  text-align: left;
  padding-left: 25%;
  color: #707070;
}
.donate {
  height: 50vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../images/a47833b3-2bf3-451b-bf36-db076bfe2ebe.JPG") no-repeat;
  background-size: cover;
}
.page {
  height: 50vh;
  background: url("../../images/Desktop\ -\ 1.jpg") no-repeat;
  background-size: cover;
}
.strat {
  padding-left: 8%;
  color: #707070;
  padding: 2%;
}
.strat .oneCard {
  margin: 2%;
}
.contain {
  padding-bottom: 10%;
}
.button-donate {
  color: white;
  background: rgba(196, 196, 196, 0.24);
  border: 5px solid white;
  left: 26.9%;
  right: 26.81%;
  top: 81.03%;
  bottom: 15.2%;
  padding: 1% 6%;
  font-family: "regular";
  font-weight: 700;
}
.replace {
  text-align: center;
  padding-top: 10%;
}
@media (min-width: 670px) and (max-width: 1000px) {
  .button-donate {
    color: white;
    background: rgba(196, 196, 196, 0.24);
    border: 2px solid white;
    left: 26.9%;
    right: 26.81%;
    /* top: 30.03%; */
    bottom: 10.2%;
    padding: 1% 6%;
    font-family: "regular";
    font-weight: 500;
  }
  .replace {
    text-align: center;
    padding-top: 6%;
  }
}
